@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

header,figure, nav{
    display:block;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: black;
}


h1{
    font-size: 60px;
    font-family: 'Sigmar', cursive;
    text-align: center;
    margin: 6px;
    background:-webkit-linear-gradient(black,rgb(228, 19, 19));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

/* p{
    font-size: 14px;
    color:white
    font-family:'Poppins', sans-serif;
} */

a{
    text-decoration: none;
    color: white;
}

a img{
    border: none;
    float: inline-start;
}
ul{
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    color: white;
}
#cajacabecera{
    width: 100%;
    background:-webkit-linear-gradient(left,black,rgb(228, 19, 19));
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
#cabecera{
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#logo{
    width: 20%;
   padding: 0;
}

.menu{
    width: 80%;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu a{
    display: block;
    line-height: 90px;
    padding: 0 10px;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 40px;
}
.menu a i{
    font-size: 30px;
    padding: 0 8px;
}

.seccionbanner{
    width: 100%;
    margin: 0;
}
#p-banner{
    background-image: url("../imagenes/13380024_5215212.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1004px;
    position: relative;

}

.seccion{
    width: 100%;
    margin: 0;
}

#p-inicio{
    background: #d9d3d3 url("../imagenes/tren.png") no-repeat bottom right;
    position:relative;
    height: 920px;
    padding-top: 100px;

}

#p-calendario{
    background: white url("../imagenes/fondo-ciudad.png") no-repeat bottom;
    position: relative;
    height: 920px;
    padding-top:100px;
}

#p-articulos{
    background:#d9d3d3 url("../imagenes/tren.png")no-repeat bottom right;
    position: relative;
    height: 920px;
    padding-top: 100px;

}
#p-mas{
    background: white url("../imagenes/fondo-ciudad.png") no-repeat bottom;
    position: relative;
    height: 920px;
    padding-top: 100px;
}